{% load static tags_tiempo %}


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}"/>


<form action="{% url 'ver_registros' %}" method="post">
{% csrf_token %}
{{form}}
<input type="submit" value="Filtrar" class="btn btn-primary">
<a href="{% url 'ver_registros' %}" class="btn btn-default">Limpiar</a>
</form>


<table class="table">
    <thead>
        <th></th>
        <th>Fecha</th>
        <th>Status</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>

    {% if registros_filtrados %}
            {% for registro in registros_filtrados %}
            <tr>
                <td>{{ forloop.counter }}</td>            
            {% for data in registro %}
                {% if forloop.first %}
                <td>{{data|print_timestamp}} [{{data}}]</td>
                {% else %}
                <td>{{data}}</td>
                {% endif %}
            {% endfor %}
            </tr>

            {% endfor %}
    {% else %}
        {% for registro in registros %}
            <tr>
                <td>{{ forloop.counter }}</td>            
            {% for data in registro %}
                {% if forloop.first %}
                <td>{{data|print_timestamp}} [{{data}}]</td>
                {% else %}
                <td>{{data}}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor%}
    {% endif %}
    </tbody>
</table>

